<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expenses list</title>
  @vite('resources/js/app.js')
</head>

<body>
  <header class="top-container">
    <div class="container mx-auto flex justify-between items-center h-10 nav-items">
      <div>
        <ul class="flex space-x-4">
        <li>
          <a href="/"> Home </a>
        </li>

        <li>
          <a href="/categories/create" up-follow>
            Create category
          </a>
        </li>
        <li>
          <a href="/products/create" up-follow>
            Create product </a>
        </li>
      </ul>
      </div>
      <div>
        <nav>
          <ul class="flex space-x-4">
            @if(auth.user)
            <li> {{ auth.user.fullName }} </li>
            <li>
              <form id="logout-form" action="/logout" method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button class="logout-btn" type="submit">Logout</button>
              </form>
            </li>
            @else
            <li>
              <a href="/login"> Login </a>
            </li>
            @end
          </ul>
        </nav>
      </div>
    </div>
  </header>

  {{{ await $slots.main() }}}
</body>

</html>